*{
  font-family: montserrat;
  color: white;
}
.App {
  margin-left: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
input {
  display: block;
  margin: 5px 0 5px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type=submit] {
  background-color: rgb(247, 237, 97);
  padding: 14px 20px;
  margin: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-weight: 800;
  font-size: medium;
  width: 100%;
  text-align: center;
}

li{
  text-align: center;
  display: inline-block;
  color: black;
  background-color: rgb(255, 247, 133);
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
  font-weight: 600;
  box-shadow: 3px 3px 8px;
  border:solid black 2px;
}
li:hover{
  transform: translateX(-2px) translateY(-2px);
  box-shadow: 5px 5px 16px;
  transition: 1s;
  color:rgb(0, 0, 0);
  cursor: pointer;
}
.heading{
  text-align: center;
  color: rgb(255, 247, 133);
  font-size: xx-large;
}
.heading2{
  text-align: center;
  font-family: montserrat;
  color: black;
  margin-right: 10px;
}
ul{
  text-align: center;
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
input[type=submit]:hover {
  background-color: grey;
  color: black;
  font-weight: 900;
}
div .mainForm{
  border-radius: 7px;
  background-color: rgb(41, 41, 41);
  padding: 20px;
  margin-right: 10px;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
  
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: black;
}